
<footer class="footer">

  <div class="social">

    <a href="https://github.com/valdez-jose" target="_blank">
      <img src="https://www.svgrepo.com/show/303548/git-icon-logo.svg" alt="Github">
    </a>

    <a href="https://www.linkedin.com/in/jose-antonio-valdez-46b7a4258/" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/3840px-LinkedIn_icon.svg.png" alt="Linkedin">
    </a>

    <a href="https://www.instagram.com/?hl=es" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Instagram-Icon.png" alt="Instagram">
    </a>

  </div>

  <p>
    © 2026 - Todos los derechos reservados
  </p>

</footer>
