
.footer{

  background-image: url("https://img.magnific.com/vector-gratis/fondo-banner-onda-azul-que-fluye-moderno_1035-19862.jpg?semt=ais_hybrid&w=740&q=80");

  background-size: cover;
  background-position: center;

  padding: 40px 20px;

  text-align: center;

  color: white;
}

.social{
  display: flex;
  justify-content: center;
  gap: 25px;

  margin-bottom: 20px;

  flex-wrap: wrap;
}

.social img{
  width: 45px;
  height: 45px;

  transition: 0.3s;
}

.social img:hover{
  transform: scale(1.1);
}