
.navbar{
  width: 100%;
  min-height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px;

  background: rgba(0,0,0,0.7);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  backdrop-filter: blur(5px);

  box-sizing: border-box;
}

.logo img{
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.nav-links{
  display: flex;
  gap: 20px;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-links a{
  text-decoration: none;
  color: white;

  padding: 10px 18px;

  border: 1px solid white;
  border-radius: 8px;

  transition: 0.3s;
}

.nav-links a:hover{
  background: white;
  color: black;
}

/* RESPONSIVE */

@media(max-width: 768px){

  .navbar{
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .nav-links{
    width: 100%;
  }

}