
<header class="navbar">

  <div class="logo">
    <img src="assets/logo-izquierda.png" alt="Logo izquierdo">
  </div>

  <nav class="nav-links">

    <a href="https://bicicleteria-angular.vercel.app/" target="_blank">Proyecto 1</a>
    <a href="https://todo-motos-angular.vercel.app/" target="_blank">Proyecto 2</a>
    <a href="https://valdez-jose.github.io/galeria-sanluis/" target="_blank">Proyecto 3</a>
    <a href="https://valdez-jose.github.io/mi-primerproyecto-react/" target="_blank">Quien soy</a>
    <a href="https://valdez-jose.github.io/vivero-el-paso/" target="_blank">Proyecto 5</a>

  </nav>   

  <div class="logo">
    <img src="assets/logo-derecha.png" alt="Logo derecho">  
  </div>

</header>
